/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Variables */
:root{
    --base-text-clr:#030303;
    --background-Header:white;
    --background:white;
    --hamburgerIcon-BG-Clr:black;


    /* box showdow color */
    --showdow-box:0 2px 24px 0 rgb(0 0 0 / 15%);
}   

/* darkMode Theme */
.darkmode{
    --base-text-clr:#ffffff;
    --background-Header:#232a3a;
    --background:#181c28;
    --hamburgerIcon-BG-Clr:white;

    /* box showdow color*/
    --showdow-box:0 2px 24px 0 rgba(71, 71, 73, 0.15);
}

/* Header */
.Header{
    color: var(--base-text-clr);
    display: flex;
    justify-content: space-between;
    z-index: 0;
    background-color: var(--background);
    width: 100%;
    height: 2em;
    align-items: center;
   
}

.menuItems{
    display:none;
}
.Sub-SideNav{
    display: none;
}
.HamBurgerIcon{
    display: none;
}
/* .menuItems{
    display: none;
} */

.icon{
    margin-left: 2.5em;
}


.SideNAV {
    display: flex;
    align-items: center;
    margin: 2em;
    gap: 20px;
}
li{
    list-style: none;
}


.isSticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 40;
    box-shadow:var(--showdow-box);
    background-color: var(--background-Header) !important;
    animation:  2s ease-in-out 0s normal none 1;
}
.ThemeIcons{
    margin-left: 1.0em;
    cursor: pointer;
}

/* Icon */
/* Light Theme Icon (sun) */
.gg-sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 24px;
    background:
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px -6px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px 14px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat -8px 5px/6px 2px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent
  }
  
  .gg-sun::after,
  .gg-sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
  }
  .gg-sun::before {
    transform: rotate(-45deg)
  }
  .gg-sun::after {
    transform: rotate(45deg)
  }
  /* $$ */

.ThemeIcons :hover{
    transition: all 1s ease-in-out 0s;
    transform: rotate(230deg);
}

/* Moon Icon */
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

/* HamBurger Icon */
.HamBurgerIcon{
    z-index: 40;
}
label{
    display:flex;
    flex-direction:column;
    width:30px;
    cursor:pointer;
    margin: 1.5em;
    justify-items: center;   
   }
   
   label span{
    background: var(--hamburgerIcon-BG-Clr);
    border-radius:50px;
    height:3px;
    margin: 7% 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   span:nth-of-type(1){
     width:50%;
     
   }
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
    
   }
   
   
   input[type="checkbox"]{
     display:none;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(4px,0px)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(14px,-2px) rotatez(45deg);
   
   }
   
/* $$ */


/* Home Page */
.homePage{
    width: 100%;
    background-color:var(--background);
    transition-property: background-color;
    transition-duration: 500ms;
}

.mainPage{
    width: 100%;
    height: 100vh;
    display: flex;
}



/* my Photo */

.frontPage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.rizvi {
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(143, 143, 143, 0.1), rgba(139, 139, 139, 0));
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 0.5px solid rgba(129, 129, 129, 0.18); 
    box-shadow: var(--showdow-box);
    width: 80%;
    height: 80%;
}
.myPhoto{
    z-index: 30;
}
#MyName{
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}
#MyName h2{
    font-size: 55px;
    color: var(--base-text-clr);
}
#Introduction{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
#Introduction p{
    font-size: 18px;
    color: var(--base-text-clr);
    margin-top: 1em;
}
#Multiples-skills-text h4{
    font-size: 20px;
    color: var(--base-text-clr);
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.span{
    color: rebeccapurple;
}
.Descriptions{
    /* margin-bottom: 7em; */
}


/* $$ */
/* $$ */



/* medies quries */
@media screen and (max-width:481px){
    .SideNAV{
        display: none;
    }
    .HamBurgerIcon{
        display: flex;
        z-index: 30;
    }

    .Sub-SideNav{
        z-index:20;
        bottom:0.1em;
        left: 100%;
        position: fixed;
        display: flex;
        width: 50%;
        height: 100%;
        background: var(--background);
        box-shadow:var(--showdow-box);
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 500ms;
    }

    .Sub-SideNav-on-click{
        z-index:20;
        bottom:0.1em;
        left: 50%;
        position: fixed;
        display: flex;
        width: 50%;
        height: 100%;
        background: var(--background);
        box-shadow:var(--showdow-box);
        transition: all ease-in 500ms;
    }

    .menuItems{
        display: flex;
        flex-direction: column;;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--base-text-clr);
      
        
       
    }
    
}

@media screen and (max-width:768px){
    .SideNAV{
        display: none;
    }
    .HamBurgerIcon{
        display: flex;
        z-index: 30;
    }

    .Sub-SideNav{
        z-index:20;
        bottom:0.1em;
        left: 100%;
        position: fixed;
        display: flex;
        width: 50%;
        height: 100%;
        background: var(--background);
        box-shadow:var(--showdow-box);
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 500ms;
    }

    .Sub-SideNav-on-click{
        z-index:20;
        bottom:0.1em;
        left: 50%;
        position: fixed;
        display: flex;
        width: 50%;
        height: 100%;
        background: var(--background);
        box-shadow:var(--showdow-box);
        transition: all ease-in 500ms;
    }

    .menuItems{
        display: flex;
        flex-direction: column;;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--base-text-clr);
      
        
       
    }
}